body {
    background-image: linear-gradient(rgb(245, 239, 239), rgb(79, 79, 80));
}

.nav-position {
    margin-left: 39%;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(88, 87, 87)
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(88, 87, 87)
}

#Landing {
    height: 100vh;
    background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/49323214_10212707390656603_8503443446831251456_o.jpg?_nc_cat=105&_nc_ht=scontent-lax3-1.xx&oh=1fd934923a81dff3e8be9bf56800190a&oe=5CD81DCC);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#about-link {
    margin-top: 40px;
}
.col-md-4 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.display-4 {
    /* opacity: 0.5; */
    margin-top: 100px;
    text-align: center;
}

#port-link {
    margin-top: 30px;
    margin-bottom: -40px
}

.contact-form {
    width: 50%;
    margin-top: 50px;
}

.font {
    color: rgb(63, 38, 38);
}

#bio-image {
    border-radius: 30%;
    float: left
}

img {
    border-radius: 40%
}

#bio-text {
    text-align: left;
    font-size: 20px
}

.font-form {
    color: beige
}
