body {
    background-image: linear-gradient(rgb(245, 239, 239), rgb(79, 79, 80));
}

img{
	width: 100%;
}

.nav-position {
    margin-left: 39%;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(88, 87, 87)
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(88, 87, 87)
}

#Landing {
    height: 100vh;
    background-image: url('./LandingPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#about-link {
    margin-top: 40px;
}
.col-md-4 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.display-4 {
    /* opacity: 0.5; */
    margin-top: 100px;
    text-align: center;
}

#port-link {
    margin-top: 30px;
    margin-bottom: -40px
}

.contact-form {
    width: 50%;
    margin-top: 50px;
}

.font {
    color: rgb(63, 38, 38);
}

#bio-image {
    border-radius: 30%;
    float: left
}

/* img {
    border-radius: 40%
} */

#bio-text {
    text-align: left;
    font-size: 20px
}

.font-form {
    color: beige
}

#copyright{
    padding: 20px;
    text-align: center;
}


#nav {
	text-align: center;
	margin: auto;
	height: 40px;
	margin-bottom: -40px;
	/* width: 40%; */
	background: rgb(255, 255, 255, 0.5);
	z-index: 1000px;
}



@media (min-width: 100px){
	#nav-outer-container{
		position: fixed;
		left: 20%;
	}
}


@media (min-width: 500px){
	#nav-outer-container{
		position: fixed;
		left: 40%;
	}
}
#nav > a{
	color: #666666;
	margin-right: 20px;
}

#nav > a:hover{
	color:gray;
	text-decoration: none;
}


#get-to-know-me > img{
	border-radius: 10px;
	float: left;
	max-width: 120px;
	margin: 0px 10px 10px 0px;
}


#get-to-know-me{
	margin: 40px;
}


@media (min-width: 100px){
	#my-works{
		display: grid;
		grid-template-columns: 1fr;
		margin: auto;
		grid-gap: 30px;
		padding: 40px;
	}
}


@media (min-width: 700px){
	#my-works{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin: auto;
		grid-gap: 30px;
		padding: 40px;
	}
}


#my-works-top{
	margin: 40px;
}


.fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 40%;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }

  .fa-linkedin {
	background: #0a2a38;
	color: white;
  }
  .fa-github {
	background: #212222;
	color: white;
  }
  .fa-facebook {
	background: #0a2a38;
	color: white;
  }